<!DOCTYPE>
<html>
<head>
    {% block head%}
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="{{STATIC_URL}}redirect/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}redirect/css/style.css">
        <script src="{{STATIC_URL}}redirect/js/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}redirect/js/jquery.cookie.js" type="text/javascript"></script>
        <script src="{{STATIC_URL}}redirect/js/aes.class.js" type="text/javascript"></script>  
        <script src="{{STATIC_URL}}redirect/js/bootstrap.min.js" type="text/javascript"></script> 
        <script src="{{STATIC_URL}}redirect/js/jquery.autogrow.js" type="text/javascript"></script>          
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>